* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: #000000ff;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.divLogoP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.pLogo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.438rem;
  line-height: 1.438rem;
  font-weight: 700;
  color: #fac72eff;
}

.ulNav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.45rem;
}

.liServico,
.liCatalogo,
.liLocalizacao {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #f3f4f6ff;
  line-height: 1.375rem;
}

.aOrcamento {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-decoration: none;
  color: #19191fff;
  background: #e0aa06ff;
  padding: 0.4rem 2rem;
  border: 1px solid #e0aa06ff;
  border-radius: 0.375rem;
}

/* MAIN */

.imgMain {
  width: 101%;
  object-fit: cover;
}

.divMain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 10vh;
}

.divH1H2Main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10rem;
  object-fit: cover;
  gap: 1.5rem;
}

.h1Main {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 4.9rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.SpanH1Main {
  color: #fac72eff;
}

.h2Main {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #bdc1caff;
}

.divTodasAMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.divAMain {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 13rem;
  height: 2.5rem;
  color: 19191FFF;
}

.aMainSolic {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #19191fff;
}

.imgA {
  width: 1rem;
  height: 1rem;
}

.divADoisMain {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #f3f4f6ff;
  border-radius: 0.375rem;
  width: 13rem;
  height: 2.5rem;
}

.aMainVer {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #f3f4f6ff;
}
.imgADois {
  width: 1rem;
  height: 1rem;
}

/* Catalogo */

.catalogo {
  background-color: #000000ff;
}

.divCatalogo {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 2rem 1rem;
  gap: 2rem;
  overflow: hidden;
}

.divH2H3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.h2Catalogo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #ffffffff;
}

.h3Catalogo {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #9095a1ff;
}

.gridCatalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.divGridOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  background: #1e2128ff;
  max-width: 20rem;
  width: 100%;
  height: 30.813rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
  gap: 1.5rem;
  overflow: hidden;
}

.imgGridOne {
  max-width: 19.875rem;
  width: 100%;
  height: 13.25rem;
  border-radius: 1rem 1rem 0 0;
}

.divPGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 0 1rem;
  gap: 1rem;
}

.pCartoes {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.pPapel {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #bdc1caff;
}

.hrGrid {
  width: 85%;
  height: 0;
  border: 1px solid #32374380;
}

.divPrecos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.pPrecos {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #fac72eff;
}

.aPedir {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #f3f4f6ff;
  text-decoration: none;
}

/* Serviços */

.Servicos {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(180deg, #f3f4f6ff 0%, #b9bfcaff 100%);
}

.divServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  gap: 1rem;
}

.divH3P {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.h3Servicos {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #000000ff;
}

.spanEspecializados {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fac72eff;
}

.pAlem {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #000000ff;
}

.divGridServicos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
}

.gridServicos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: left;
  width: 100%;
  max-width: 20.75rem;
  height: 21.5rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
  background: #000000ff;
  padding: 1.5rem;

  overflow: hidden;
}

.divImgGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fac72e1a;
  border: 1px solid #fac72e1a;
  border-radius: 1rem;
}

.imgGridServicos {
  width: 1.75rem;
  height: 1.75rem;
}

.h3GridServicos {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.pGridServicos {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #bdc1caff;
}

/* section A Arte */

.AArte {
  background: #000000ff;
}

.divAArte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 4rem;
}

.imgAArte {
  width: 100%;
  max-width: 29.875rem;
  height: 30rem;
  border-radius: 0.5rem;
}

.divArteH3P {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.h3Arte {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.spanh3 {
  color: #fac72eff;
}

.PArte {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.813rem;
  color: #bdc1caff;
}

.pArteDois {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.813rem;
  color: #bdc1caff;
}

.hrH3PP {
  max-width: 30rem;
  width: 100%;
  height: 0;
  border: 1px solid #323743ff;
}

.div30e10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.div30,
.div10k {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.p30,
.p10 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fac72eff;
}

.pAnos,
.pProjetos {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #bdc1caff;
}

/* section Por que escolher */
.Por-Que-Escolher {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(180deg, #f3f4f6ff 0%, #b9bfcaff 100%);
}

.divPorQue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 5rem;
}

.divH3PAPorque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.h3Porque {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #000000ff;
  gap: 1rem;
}

.spanPrime {
  color: #fac72eff;
}

.PPorque {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #171a1fff;
}

.aH3Porque {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 13rem;
  height: 2.5rem;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171a1fff;
}

.divGridPorQue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.GridPorque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.divOnegrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.imgGridPorque {
  width: 1.2rem;
  height: 1.2rem;
}

.divGridTwo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PGridOne {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: #000000ff;
}

.PGridTwo {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #171a1fff;
}

/* Section localizacao */

.Localizacao {
  background: #000000ff;
}

.divlocalizacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 5rem;
}

.h2h3div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.h2Locali {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #f3f4f6ff;
  gap: 1rem;
}

.spanLocali {
  color: #fac72eff;
}

.h3Locali {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #bdc1caff;
}

.aLocali {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 17.5rem;
  height: 3rem;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171a1fff;
}

.enderecoHorario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  background: #171a1fff;
  width: 100%;
  max-width: 30rem;
  min-height: 15.125rem;
  padding: 3rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
}

.divEndereco,
.divHorario {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.endereco,
.horario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imgEndereco,
.imgHorario {
  width: 1rem;
  height: 1rem;
}

.psEndereco,
.psHorario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
}

.pEnderecoOne,
.pHorarioOne {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #f3f4f6ff;
}

.pEnderecoTwo,
.pHorarioTwo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #bdc1caff;
}
