* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: #000000ff;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.divLogoP {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
}

.ulNav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.45rem;
}

.liServico,
.liCatalogo,
.liLocalizacao {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #f3f4f6ff;
  line-height: 1.375rem;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.divANav {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.aOrcamento {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.625rem;
  text-decoration: none;
  color: #19191fff;
  background: #e0aa06ff;
  padding: 0.4rem 2rem;
  border: 1px solid #e0aa06ff;
  border-radius: 0.375rem;
  transition: color 0.5s ease;
}

/* MAIN */

.divMain {
  background-image: url("../img/imgMain.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divH1H2Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  gap: 2.5rem;
  padding: 1rem;
}
.h1Main {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  color: #f3f4f6ff;
  width: 100%;
  max-width: 11ch;
}

.SpanH1Main {
  color: #fac72eff;
}

.h2Main {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 50ch;
}

.divTodasAMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.divAMain {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  padding: 0.6rem 1rem;
  color: #19191fff;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.aMainSolic {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #19191fff;
  transition: color 0.7s ease;
}

.imgA {
  width: 1rem;
  height: 1rem;
}

.divADoisMain {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #f3f4f6ff;
  border-radius: 0.375rem;
  padding: 0.6rem 1.2rem;
  transition: transform 0.5s ease;
}

.aMainVer {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #f3f4f6ff;
  transition: color 0.7s ease;
}
.imgADois {
  width: 1rem;
  height: 1rem;
}

/* Catalogo */

.catalogo {
  background-color: #000000ff;
}

.divCatalogo {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
}

.catalogo {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 2rem;
}

.divH2H3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.h2Catalogo {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 900;
  color: #ffffffff;
}

.h3Catalogo {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #9095a1ff;
  width: 100%;
  max-width: 60ch;
}

.gridCatalogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
}

.divGridOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  background: #1e2128ff;
  max-width: 20rem;
  width: 100%;
  height: auto;
  border: 1px solid #323743ff;
  border-radius: 1rem;
  gap: 1.5rem;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.imgGridOne {
  max-width: 30rem;
  width: 100%;
  height: 13.25rem;
  border-radius: 1rem 1rem 0 0;
}

.divPGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 0 1rem;
  gap: 1rem;
}

.pCartoes {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.pPapel {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #bdc1caff;
}

.hrGrid {
  width: 85%;
  height: 0;
  border: 1px solid #32374380;
}

.divPrecos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.pPrecos {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #fac72eff;
  width: 100%;
  max-width: 10ch;
}

.aPedir {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #f3f4f6ff;
  text-decoration: none;
  border: 1px solid #fac72eff;
  border-radius: 1rem;
  background: transparent;
  width: 100%;
  cursor: pointer;
  transition: background 0.5s ease;
  padding: 0.2rem;
}

/* Serviços */

.Servicos {
  background: linear-gradient(180deg, #b9bfcaff 0%, #b9bfcaff 100%);
  padding: 3rem;
}

.divServicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 80vh;
  margin: 0 auto;
  gap: 1rem;
}

.divH3P {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.h3Servicos {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #000000ff;
}

.spanEspecializados {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.pAlem {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #000000ff;
  width: 100%;
  max-width: 60ch;
}

.divGridServicos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
}

.gridServicos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: left;
  width: 100%;
  max-width: 20.75rem;
  height: 21.5rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
  background: #000000ff;
  padding: 1.5rem;

  overflow: hidden;
}

.divImgGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fac72e1a;
  border: 1px solid #fac72e1a;
  border-radius: 1rem;
}

.imgGridServicos {
  width: 1.75rem;
  height: 1.75rem;
}

.h3GridServicos {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.pGridServicos {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #bdc1caff;
}

/* section A Arte */

.AArte {
  background: #000000ff;
  padding: 2rem;
}

.divAArte {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  gap: 4rem;
}

.imgAArte {
  height: 30rem;
  width: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

.divArteH3P {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.h3Arte {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.spanh3 {
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.PArte {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.813rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 60ch;
}

.pArteDois {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.813rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 60ch;
}

.hrH3PP {
  max-width: 30rem;
  width: 100%;
  height: 0;
  border: 1px solid #323743ff;
}

.div30e10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.div30,
.div10k {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.p30,
.p10 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #fac72eff;
}

.pAnos,
.pProjetos {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #bdc1caff;
}

/* section Por que escolher */
.Por-Que-Escolher {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  background: linear-gradient(180deg, #b9bfcaff 0%, #b9bfcaff 100%);
}

.divPorQue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 5rem;
}

.divH3PAPorque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.h3Porque {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: #000000ff;
  gap: 1rem;
  width: 100%;
  max-width: 12ch;
}

.spanPrime {
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.PPorque {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #171a1fff;
  width: 100%;
  max-width: 32ch;
}

.aH3Porque {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 100%;
  max-width: 14rem;
  height: 3rem;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.99rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171a1fff;
  cursor: pointer;
  transition:
    transform 0.5s ease,
    color 0.5s ease;
}

.divGridPorQue {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.GridPorque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.divOnegrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.imgGridPorque {
  width: 1.2rem;
  height: 1.2rem;
}

.divGridTwo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.PGridOne {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: #000000ff;
  width: 100%;
  max-width: 20ch;
}

.PGridTwo {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: #171a1fff;
  width: 100%;
  max-width: 30ch;
}

/* Section localizacao */

.Localizacao {
  background: #000000ff;
  padding: 1.5rem;
}

.divlocalizacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 60vh;
  margin: 0 auto;
  padding: 1rem;
  gap: 5rem;
}

.h2h3div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.h2Locali {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.spanLocali {
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.h3Locali {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 40ch;
}

.aLocali {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 100%;
  width: 20rem;
  height: 3.2rem;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.99rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #171a1fff;
  cursor: pointer;
  transition:
    transform 0.5s ease,
    color 0.5s ease;
}

.enderecoHorario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  background: #171a1fff;
  width: 100%;
  max-width: 30rem;
  min-height: 15.125rem;
  padding: 3rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
}

.divEndereco,
.divHorario {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.endereco,
.horario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.imgEndereco,
.imgHorario {
  width: 1rem;
  height: 1rem;
}

.psEndereco,
.psHorario {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
}

.pEnderecoOne,
.pHorarioOne {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #f3f4f6ff;
}

.pEnderecoTwo,
.pHorarioTwo {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 30ch;
}

/* Clientes */

.Clientes {
  background: linear-gradient(180deg, #b9bfcaff 0%, #b9bfcaff 100%);
}

.divClientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem;
  gap: 3rem;
}

.divH2H3Clientes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.h2Clientes {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: #000000ff;
  gap: 1rem;
  width: 100%;
}

.spanClientes {
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.h3Clientes {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  color: #171a1fff;
}
.divVideoCliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30%;
}

.videoCliente {
  width: 100%;
  border-radius: 1rem;
  border: 4px solid white;
}

.gridsClientes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gridCliente {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #000000ff;
  width: 100%;
  max-width: 21.5rem;
  height: 21.375rem;
  border: 1px solid #323743ff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.imgEstrelas {
  width: 6rem;
  height: 6rem;
}

.pGridOneClientes {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #bdc1caff;
}

.pGridTwoClientes {
  margin-top: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 700;
  color: #f3f4f6ff;
}

.spanGridClientes {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #bdc1caff;
}

/* Section Pronto */

.Pronto {
  background: #000000ff;
  padding: 1rem;
}

.divPronto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80vh;
  padding: 1rem;
  gap: 2rem;
}

.h2Pronto {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3.75rem;
  line-height: 3.75rem;
  font-weight: 700;
  color: #f3f4f6ff;
  margin-bottom: 3rem;
}

.spanPronto {
  color: #fac72eff;
  text-shadow:
    2px 2px 5px black,
    0 0 10px #ffd700;
}

.h3Pronto {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.063rem;
  color: #bdc1caff;
  width: 100%;
  max-width: 45ch;
}

.divAPronto {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #fac72eff;
  background: #fac72eff;
  border-radius: 0.375rem;
  width: 100%;
  max-width: 20rem;
  height: 4rem;
  color: 19191FFF;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.imgPronto {
  width: 1.5rem;
  height: 1.5rem;
}

.aProntoSolici {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: #19191fff;
  transition: color 0.5s ease;
}

.pPronto {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #bdc1caff;
}

.footer {
  background: linear-gradient(180deg, #b9bfcaff 0%, #b9bfcaff 100%);
}

.divFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 50vh;
  padding: 1rem;
}

.gridsFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.gridFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.imgFooter {
  width: 13rem;
  height: 13rem;
}

.pGridFooter {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #171a1fff;
}

.gridFooterTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.pMenu {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000ff;
}

.aCatalogo,
.aServico,
.aLocalizacao {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  color: #171a1fff;
}

.gridFooterThree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.pContato {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000ff;
}

.divTelefone,
.divEnderecoFooter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6rem;
}

.imgTelefone,
.imgEndeFooter {
  width: 1.4rem;
  height: 1.4rem;
}

.gridFooterFour {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.pRede {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000ff;
}

.imgRede {
  width: 3rem;
  height: 3rem;
}

.hrFooter {
  width: 100%;
  background: #000000ff;
  border: 1px solid #000000ff;
}

.divP2026 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.p2026,
.pFeito {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 200;
  color: #000000ff;
}

@media (hover: hover) {
  /* nav */
  .liServico:hover,
  .liLocalizacao:hover,
  .liCatalogo:hover {
    transform: scale(1.1);
  }

  .divANav:hover {
    transform: scale(1.1);
  }

  .aOrcamento:hover {
    color: white;
  }
  /* main */

  .divAMain:hover {
    transform: scale(1.1);
  }
  .aMainSolic:hover {
    color: white;
  }

  .divADoisMain:hover {
    transform: scale(1.1);
  }
  .aMainVer:hover {
    color: #fac72eff;
  }

  /* Catalogo */

  .divGridOne:hover {
    transform: scale(1.1);
  }

  .aPedir:hover {
    background: #fac72eff;
  }

  /* Porque */

  .aH3Porque:hover {
    transform: scale(1.1);
    color: white;
  }

  /* Localização */

  .aLocali:hover {
    transform: scale(1.1);
    color: white;
  }

  /* Pronto */

  .divAPronto:hover {
    transform: scale(1.1);
  }

  .aProntoSolici:hover {
    color: green;
  }
}

@media (min-width: 300px) and (max-width: 380px) {
  /* nav */
  .nav {
    justify-content: space-evenly;
    padding: 0;
  }

  .logo {
    width: 6rem;
    height: 6rem;
  }

  .liServico,
  .liCatalogo,
  .liLocalizacao {
    font-size: 0.9rem;
  }
  .aOrcamento {
    display: none;
  }
  /* main */

  .divH1H2Main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h1Main {
    font-size: 2.8rem;
    line-height: 3.5rem;
    max-width: 100%;
  }

  .h2Main {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .divTodasAMain {
    gap: 1rem;
    width: 100%;
  }

  .divAMain,
  .divADoisMain {
    padding: 0.5rem 0.1rem;
  }

  .aMainSolic {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  /* catalogo */

  .divH2H3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h2Catalogo {
    font-size: 2rem;
  }

  .h3Catalogo {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
  }
  .gridCatalogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .divPrecos {
    justify-content: center;
    gap: 3rem;
  }

  .aPedir {
    font-size: 0.9rem;
  }

  /* Servicos */

  .divGridServicos {
    grid-template-columns: repeat(1, 1fr);
  }

  .h3Servicos {
    line-height: 3.2rem;
  }
  .pAlem {
    line-height: 1.5rem;
  }

  /* A Arte */
  .divAArte {
    flex-direction: column-reverse;
  }

  .divArteH3P {
    align-items: center;
    text-align: center;
  }

  .h3Arte {
    line-height: 3.1rem;
  }

  .PArte,
  .pArteDois {
    max-width: 100%;
  }

  .imgAArte {
    padding: 2rem;
    border-radius: 2.9rem;
  }

  /* por que */

  .divPorQue {
    flex-direction: column;
    text-align: center;
  }

  .divH3PAPorque {
    justify-content: center;
    align-items: center;
  }

  .divGridPorQue {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  /* localizacao */

  .divlocalizacao {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h2h3div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enderecoHorario {
    align-items: center;
  }
  /* Clientes */

  .divClientes {
    text-align: center;
  }

  .gridsClientes {
    grid-template-columns: 1fr;
  }

  .gridCliente {
    text-align: left;
  }

  .divVideoCliente {
    max-width: 80%;
  }

  /* Pronto */

  .h2Pronto {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  .divPronto {
    gap: 1.1rem;
  }

  .h3Pronto {
    font-size: 1.1rem;
  }

  .divAPronto {
    max-width: 18rem;
  }

  .aProntoSolici {
    font-size: 1.1rem;
  }

  /* footer */

  .gridsFooter {
    grid-template-columns: 1fr;
    place-items: center;
    justify-items: center;
    gap: 3rem;
  }

  .gridFooter {
    align-items: center;
    text-align: center;
  }

  .gridFooterThree {
    align-items: center;
  }

  .gridFooterFour {
    align-items: center;
  }

  .divP2026 {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 381px) and (max-width: 390px) {
  /* Nav */

  .nav {
    justify-content: center;
    padding: 0;
  }

  .logo {
    width: 6rem;
    height: 6rem;
  }

  .liServico,
  .liCatalogo,
  .liLocalizacao {
    font-size: 0.9rem;
  }
  .aOrcamento {
    display: none;
  }
  /* main */

  .divH1H2Main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h1Main {
    font-size: 2.8rem;
    line-height: 3.5rem;
    max-width: 100%;
  }

  .h2Main {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .divTodasAMain {
    width: 100%;
  }

  .divAMain,
  .divADoisMain {
    padding: 0.5rem 0.3rem;
  }

  .aMainSolic {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  /* catalogo */

  .divH2H3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h2Catalogo {
    font-size: 2rem;
  }

  .h3Catalogo {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 100%;
  }
  .gridCatalogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .divPrecos {
    justify-content: center;
    gap: 2rem;
  }

  .aPedir {
    font-size: 0.9rem;
  }

  /* Servicos */

  .divGridServicos {
    grid-template-columns: repeat(1, 1fr);
  }

  .h3Servicos {
    line-height: 3.2rem;
  }
  .pAlem {
    line-height: 1.5rem;
  }

  /* A Arte */
  .divAArte {
    flex-direction: column-reverse;
  }

  .divArteH3P {
    align-items: center;
    text-align: center;
  }

  .h3Arte {
    line-height: 3.1rem;
  }

  .imgAArte {
    padding: 2rem;
    border-radius: 2.9rem;
  }

  /* por que */

  .divPorQue {
    flex-direction: column;
    text-align: center;
  }

  .divH3PAPorque {
    justify-content: center;
    align-items: center;
  }

  /* localizacao */

  .divlocalizacao {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h2h3div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enderecoHorario {
    align-items: center;
  }
  /* Clientes */

  .divClientes {
    text-align: center;
  }

  .gridsClientes {
    grid-template-columns: 1fr;
  }

  .gridCliente {
    text-align: left;
  }

  .divVideoCliente {
    max-width: 80%;
  }

  /* Pronto */

  .h2Pronto {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  .divPronto {
    gap: 1.1rem;
  }

  .h3Pronto {
    font-size: 1.1rem;
  }

  /* footer */

  .gridsFooter {
    grid-template-columns: 1fr;
    place-items: center;
    justify-items: center;
    gap: 3rem;
  }

  .gridFooter {
    align-items: center;
    text-align: center;
  }

  .gridFooterThree {
    align-items: center;
  }

  .gridFooterFour {
    align-items: center;
  }

  .divP2026 {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 391px) and (max-width: 767px) {
  /* Nav */

  .logo {
    width: 6rem;
    height: 6rem;
  }

  .liServico,
  .liCatalogo,
  .liLocalizacao {
    font-size: 1rem;
  }
  .aOrcamento {
    display: none;
  }
  /* main */

  .divH1H2Main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h1Main {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 100%;
  }

  .h2Main {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .divTodasAMain {
    width: 100%;
  }
  .divAMain,
  .divADoisMain {
    padding: 0.9rem;
  }

  .aMainSolic {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  /* catalogo */

  .divH2H3 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .h2Catalogo {
    font-size: 2.5rem;
  }

  .h3Catalogo {
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 100%;
  }
  .gridCatalogo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .divCatalogo {
    padding: 4rem;
  }

  .divPrecos {
    justify-content: center;
    gap: 1rem;
  }

  .aPedir {
    font-size: 0.9rem;
  }

  /* Servicos */

  .divGridServicos {
    grid-template-columns: repeat(1, 1fr);
  }
  .pAlem {
    line-height: 1.5rem;
  }

  /* A Arte */
  .divAArte {
    flex-direction: column-reverse;
  }

  .divArteH3P {
    align-items: center;
    text-align: center;
  }

  .h3Arte {
    line-height: 3.1rem;
  }

  /* por que */

  .divPorQue {
    flex-direction: column;
    text-align: center;
  }

  .divH3PAPorque {
    justify-content: center;
    align-items: center;
  }

  /* localizacao */

  .divlocalizacao {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h2h3div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .enderecoHorario {
    align-items: center;
  }
  /* Clientes */

  .divClientes {
    text-align: center;
  }

  .gridsClientes {
    grid-template-columns: 1fr;
  }

  .gridCliente {
    text-align: left;
  }

  .divVideoCliente {
    max-width: 80%;
  }

  /* Pronto */

  .h2Pronto {
    font-size: 3rem;
    line-height: 3.1rem;
  }

  .divPronto {
    gap: 1.1rem;
  }

  .h3Pronto {
    font-size: 1.1rem;
  }

  /* footer */

  .gridsFooter {
    grid-template-columns: 1fr;
    place-items: center;
    justify-items: center;
    gap: 3rem;
  }

  .gridFooter {
    align-items: center;
    text-align: center;
  }

  .gridFooterThree {
    align-items: center;
  }

  .gridFooterFour {
    align-items: center;
  }

  .divP2026 {
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* nav */
  .logo {
    width: 8rem;
    height: 8rem;
  }
  /* main */

  .divH1H2Main {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .divTodasAMain {
    justify-content: center;
    align-items: center;
  }

  .h1Main {
    font-size: 5rem;
    line-height: 5.3rem;
  }

  .h2Main {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  /* catalogo */
  .gridCatalogo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .divGridOne {
    align-items: center;
  }
  /* serviços */
  .divGridServicos {
    grid-template-columns: repeat(2, 1fr);
  }
  /* A Arte */
  .divAArte {
    flex-direction: column-reverse;
  }

  .divArteH3P {
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  /* nav */
  .logo {
    width: 7rem;
    height: 7rem;
  }
}
